@font-face {
  font-family: 'Muli';
  src: url('Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli Bold';
  src: url('Muli-Bold.ttf');
}

@font-face {
  font-family: 'GT Walsheim Regular';
  src: url('//db.onlinewebfonts.com/t/0abeb2471faeb5269db428b9eac2075e.eot');
  src: url('//db.onlinewebfonts.com/t/0abeb2471faeb5269db428b9eac2075e.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/0abeb2471faeb5269db428b9eac2075e.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/0abeb2471faeb5269db428b9eac2075e.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/0abeb2471faeb5269db428b9eac2075e.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/0abeb2471faeb5269db428b9eac2075e.svg#GT Walsheim Pro Regular')
      format('svg');
}
